@use '../../styles/partials/media-query' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.upload-page {
    @include section-main($White);
    border-top: 0.0625rem solid $Mercury;

    &__container {
       @include display-layout($mobile-padding 0 0 0, 0 $mobile-margin);

       @include tablet {
            @include display-layout ($tablet-padding 0 0 0, 0 $tablet-margin);
       }

       @include desktop {
            @include desktop-layout ($tablet-padding $tablet-padding 0 $tablet-padding);
            max-width: 67rem;
       }
    
        &--title {
            padding-top: 0.5rem;
        
            @include tablet {
                border-bottom: 0.0625rem solid $Mercury;
                padding: 0.75rem 0 $tablet-padding 0;
            }
        }
    }
}