@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/media-query' as *;

.hero-video-details {
    @include section-main ($White);

    &__container {
        @include tablet-layout($mobile-padding 0, 0 $mobile-margin);

        @include tablet {
            @include tablet-layout($tablet-padding 0, 0 $tablet-margin);
        }

        &--title {
            padding-bottom: $mobile-padding;
        }

        &__box {
            display: flex;
            gap: 1.90rem;
            border-top: 0.0625rem solid $Mercury;
            border-bottom: 0.0625rem solid $Mercury;
            padding: $mobile-padding 0;

            @include tablet {
                justify-content:space-between;
                border-top: 0;
                padding: 0 0 0.75rem 0;
            }

            &--one {
                @include tablet {
                    display: flex;
                    gap: 1.5rem;
                }

                &--author {
                    padding-bottom: $mobile-padding;

                    @include tablet {
                        padding-bottom: 0;
                    }
                }

                &--date {
                    color: $Silver;
                }
            }

            &--two {
                @include tablet {
                    display: flex;
                    gap: 1.5rem;
                }

                &__views-info {
                    display: flex;
                    padding-bottom: $mobile-padding;
                    align-items: start;

                    @include tablet{
                        padding-bottom: 0;
                    }

                    &--icon {
                        padding-right: 0.65rem;
                    }

                    &--numbers {
                        color: $Silver;
                    }
                }

                &__likes-info {
                    display: flex;
                    align-items: start;

                    &--icon {
                        padding-right: 0.65rem;
                    }

                    &--numbers{
                        color: $Silver;
                    }
                }
            }
        }

        &--video-description {
            padding: $mobile-padding 0;

             @include tablet {
                padding: $tablet-padding 0;
             }
        }

    }
}