@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/media-query' as *;

.hero-video {

    @include section-main ($BrainFlix-DarkBlack);

    &__container {

        @include tablet {
           padding: 0 $tablet-padding;
        }

        &__display {
            aspect-ratio: 16/9;
            width: 100%;
            margin: auto;
            display: block; //Removes extra spacing at the button when desktop leayout applied
            object-fit: cover;
            

            @include tablet {
                width: 100%;
            }

            @include desktop {
                max-width: 53.5rem;
            }
        }
    }
}