@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/media-query' as *;

.hero-video {

    @include section-main ($BrainFlix-DarkBlack);

    &__container {

        @include tablet {
           padding: 0 $tablet-padding;
        }

        @include desktop {
            @include desktop-layout(0 $tablet-padding);
        }

        &__display {
            max-width: 100%;
            margin: auto;
            display: block; //Removes extra spacing at the button when desktop leayout applied
            aspect-ratio: 16/9;

            @include tablet {
                max-width: 69.5rem;
                width: 100%;
            }
        }
    }
}