@use './variables' as *;
@use './media-query' as *;

@mixin section-main ($color) {
    width: 100%;
    background-color: $color;
}

@mixin display-layout ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin desktop-layout ($padding){
    width: $desktop;
    margin: 0 auto;
    padding: $padding;  //Padding added to keep section layout, and be consistent on the website when the screen width is > 1789px
}

@mixin input-area {
    height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    padding-left: 2.5rem;
    border: 0.0625rem solid $Mercury;
    background-color: $Alabaster;

    @include tablet {
        width: 15rem;
        height: 2.5rem;
    }

    &:focus {
        outline: none;  //Removes default active style
        border-color: $BrainFlix-Blue;
    }

    &::placeholder {
        color: $BrainFlix-Black;
        font-size: 0.8125rem;
        line-height: 1.125rem;
    }
}

@mixin avatar {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    object-position: 20%;
    flex-shrink: 0;
    border-color: transparent;

    @include tablet {
        height: 2.5rem;
        width: 2.5rem;
    }
}

@mixin upload-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 1.25rem;
    left: 0.5rem;
    margin: auto;
}

@mixin button {
    display: flex;
    margin-top: $mobile-margin;
    padding: $mobile-padding;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    position: relative;
    width: 100%;
    background-color: $BrainFlix-Blue;
    color: $White;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid $BrainFlix-Blue;
    cursor: pointer;

    @include tablet {
        margin: 0;
        width: 9.375rem;
        padding: 0 2rem;
        margin: 0 $tablet-gutters;
    }

    &:hover {
        background-color: $BrainFlix-DarkBlue;
        border: 0.0625rem solid $BrainFlix-DarkBlue;
    }
}

@mixin icon-in-button {
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0.75rem;
}

@mixin hero-video-poster {
    aspect-ratio: 16/9;
    width: 100%;
    margin: auto;
    display: block; //Removes extra spacing at the button when desktop layout applied
    object-fit: cover;
}

@mixin heroVideo-channel-details {
    display: flex;
    gap: 1.90rem;
    border-top: 0.0625rem solid $Mercury;
    border-bottom: 0.0625rem solid $Mercury;
    padding: $mobile-padding 0;
}

@mixin comments-cards {
    display: flex;
    gap: 1rem;
    border-top: 0.0625rem solid $Mercury;
    padding-top: $mobile-padding;
    margin-right: $mobile-margin;
}

@mixin desktop-lower-section {
    display: flex;
    justify-content: space-between;
    @include desktop-layout (0 0 0 $tablet-padding);
    max-width: 67rem;
    padding-top: 0;
    height: 100%;
}