@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/media-query' as *;

.next-videos {
    @include section-main ($White);

    &__container {
        @include display-layout ($mobile-padding 0, 0 $mobile-margin);

        @include tablet {
            @include display-layout ($tablet-padding, 0); 
        }

        @include desktop {
            margin: 0;
            padding: 0;
            max-width: 67rem;
        }
        
        &__section-title {
            color: $Silver;
            font-size: 0.8125rem;
            font-weight: 700;

            @include tablet {
                font-size: 0.75rem;
            }
            
            @include desktop {
                padding-bottom: $tablet-padding;
            }
        }

        &__content {
            list-style-type: none;

            &__list {
                text-decoration: none;
            }
        }
    }
}