@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/media-query' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    @include section-container ($White);

    &__container {
        @include section-layout($mobile-padding 0, 0 $mobile-margin);
        display: flex;
        flex-direction: column;

        @include tablet {
            @include section-layout($tablet-padding 0, 0 $tablet-margin);
            flex-direction: row;
        }

        &__logo {
            height: 1.5625rem;
            width: 7.5rem;

            &__link {
                margin: auto;
            }
        }

        &__box {
            display: flex;
            gap: 0.75rem;
            margin-top: $mobile-margin;

            @include tablet {
                margin-top: 0;
            }
            
            &__search-bar {
                position: relative;
                width: 100%;

                @include tablet {

                }

                &--icon {
                    position: absolute;
                    margin: auto;
                    bottom: 0;
                    top: 0;
                    left: 0.75rem;
                }

                &--field {
                    @include search-bar-field;
                }
            }

            &__avatar {
                @include avatar;
            }
        } 
        
        &__button {
            width: 100%;

            &__upload {
                &--icon {
                    @include upload-icon;
                }

                &--button {
                    @include button;                    
                }
            }
        }

    }
}

