@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/media-query' as *;

.next-videos-cards__container {
    display: flex;
    gap: 1rem;
    margin: $mobile-margin 0;

    @include tablet {
        margin: $tablet-padding 0;
    }

    @include desktop {
        margin-top: 0;
    }

    &__image-box {
        width: 6.37rem;
        height: 4rem;
        border-radius: 0.25rem;
        background-color: $Mercury;
        flex-shrink: 0; //Prevents images to shrink on mobile layout
        cursor: pointer;

        @include tablet {
            width: 7.25rem;
            height: 4.3rem;
        }

        @include desktop {
            width: 6.37rem;
        }

        &--poster {
            width: 100%;
            height: 100%;
            border-radius: 0.25rem;
            
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        @include tablet {
            width: 27%;
        }

        @include desktop {
            width: 79%;
        }

        &--title {
            @include tablet {
                line-height: 1.15rem;
            }
        }
    }
}