@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/media-query' as *;

.next-videos-cards__container {
    display: flex;
    gap: 1rem;
    margin: $mobile-margin 0;

    @include tablet {
        margin: $tablet-padding 0;
    }

    &__image {
        width: 6.37rem;
        height: 4rem;
        border-radius: 0.25rem;
        background-color: $Mercury;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            width: 20%;
        }

        @include desktop {
            width: 100%;
        }

        &--title {
            @include tablet {
                line-height: 1.15rem;
            }
        }
    }
}