@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/media-query' as *;
@use '../../styles/partials/global' as *;

.upload-form {
    @include section-main ($White);

    &__container {
        @include display-layout ($mobile-padding 0, 0 $mobile-margin);

        @include tablet {
            @include display-layout ($tablet-padding 0, 0 $tablet-padding);
        }

        @include desktop {
            @include desktop-layout ($tablet-padding);
            max-width: 67rem;
        }

        &__top {
            @include desktop {
                display: flex;
                gap: $tablet-gutters;
                border-bottom: 0.0625rem solid $Mercury;
            }
    
            &__image-box {
                
                @include desktop {
                    width: 49.7%;
                }

                &__label {
                    @extend p;
                    color: $Silver;
                    font-weight: 600;
                    padding-bottom: 0.25rem;

                    @include tablet {
                        font-size: 0.75rem;
                    }
                }

                &__sub-container {
                    margin-top: 0.25rem;
                    aspect-ratio: 16/9;
                    background-color: $Mercury;
                    width: 100%;
                    border-radius: 0.25rem;

                    @include tablet {
                        width: 50%;
                    }

                    @include desktop {
                        width: 100%;
                    }

                    &--video-thumbnail {
                        width: 100%;
                        height: 100%;
                        border-radius: 0.25rem;
                        display: block;
                    }
                }
            }

            &__input-box {

                @include desktop {
                    width: 100%;
                    align-self: baseline;
                }
                &__video-title {
                    display: flex;
                    flex-direction: column;

                    &__label {
                        padding-top: $mobile-padding;
                        @extend .upload-form__container__top__image-box__label;
                    
                        @include desktop {
                            padding-top: 0;
                        }
                    }

                    &__input {
                        @include input-area;
                        padding-left: 0.75rem;

                        @include tablet {
                            width: 100%;
                            padding: 0.75rem;
                        }
                    }
                }

                &__video-description {
                    @extend .upload-form__container__top__input-box__video-title;
                    padding: $mobile-padding 0;

                    @include tablet {
                        border-bottom: 0.0625rem solid $Mercury;
                        padding: $mobile-padding 0 $tablet-padding 0;
                    }

                    @include desktop {
                        padding: $tablet-padding 0 2rem 0;
                        border-bottom: 0;
                    }

                    &__label {
                        @extend .upload-form__container__top__image-box__label;
                    }

                    &__input {
                        @include input-area;
                        resize: none; //prevents resizing comment box
                        height: 6rem;
                        padding: 0.75rem;
                    
                        @include tablet {
                            width: 100%;
                            height: 6rem;
                            padding: 0.75rem;
                        }
                    }
                }
            }
        }

        &__options-box {
            display: flex;
            flex-direction: column;
            gap: 2.75rem;

            @include tablet {
                flex-direction: row;
                padding: $tablet-padding 0;
                justify-content: flex-end;
                align-items: baseline;
            }

            &--publish-button {
                @include button;

                @include tablet {
                    margin-right: 0;
                }

                &--icon {
                    @include icon-in-button;
                }
            }

            &--cancel {
                @extend p;
                color: $BrainFlix-Blue;
                text-decoration: none;
                text-align: center;
                font-weight: 600; 

                @include tablet {
                    font-size: 0.75rem;
                    order: -1;  //Changes position of "Cancel" option to appear on the left first
                }
            }
        }
    }
}