@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.comments-cards__container{
    display: flex;
    gap: 1rem;
    border-top: 0.0625rem solid $Mercury;
    padding-top: $mobile-padding;

    &__avatar {
        @include avatar;   
        background-color: $Mercury;
    }

    &__user-info {
        width: 100%;
        
        &__details {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.6rem;

            &--timestamp {
                color: $Silver;
            }
        }
        &--comment {
            padding-bottom: $mobile-padding;
        }
    }
}
