@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/media-query' as *;

.comments-cards__container{
    @include comments-cards;

    @include tablet {
        padding-top: $tablet-padding;
        margin-right: 0;

        @include tablet {
            gap: 1.25rem;
        }
    }

    @include desktop {
        gap: 2.25rem;
    }

    &__avatar {
        @include avatar;   
        background-color: $Mercury;

        @include desktop {
            margin-left: 0.875rem;
        }
    }

    &__user-info {
        width: 100%;

        @include desktop {
            padding-right: $desktop-gutters;
        }

        &__details {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.6rem;

            &__box {
                display: flex;
                gap: 1rem;

                &--delete-icon {
                    width: 0.65rem;
                    cursor: pointer;

                }
                &--timestamp {
                    color: $Silver;
                }
            }
        }
        &--comment {
            padding-bottom: $mobile-padding;

            @include tablet {
                padding-bottom: $tablet-padding;
            }
        }
    }
}
