@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/media-query' as *;

.comments {
    @include section-main ($White);

    &__container {
        margin: $mobile-margin 0 0 $mobile-margin;
        border-bottom: 0.0625rem solid $Mercury;

        @include tablet {
            @include display-layout(0 $tablet-padding, 0 $tablet-margin);
            margin: auto;
            max-width: 67rem;
            border-bottom: 0;
        }

        @include desktop {
            border: 0;
            margin: 0;
            padding: 0;
        }

        &__content {
            list-style-type: none;
        }
    }

    &__divider__bottom--tablet {
        @include tablet {
            border-bottom: 0.0625rem solid $Mercury;
        }

        @include desktop {
            border: 0;
        }
    }
}