@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/media-query' as *;

.comment {
    @include section-main($White);

    &__container {
        @include display-layout(0 0 $mobile-padding 0, 0 $mobile-margin);
        border-bottom: 0.0625rem solid $Mercury;

        @include tablet {
            @include display-layout(0 0 $tablet-padding 0, 0 $tablet-margin)
        }
    
        &--total-comments {
            padding-bottom: $mobile-padding;
        }

        &__form {
            display: flex;
            gap: 1rem;
        
            &__box-left {

                &__avatar {
                    @include avatar;
                    margin-top: 1.5rem;
                }
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;

                @include tablet {
                    flex-direction: row;
                }

                &__ui {
                    @include tablet {
                        display: flex;
                        flex-direction: column;
                        width: 75%;
                    }
                    
                    &__label-comment {
                        @extend p;
                        color: $Silver;
                        font-weight: 600;
                        padding-bottom: 0.25rem;
                    }

                    &__input-comment {
                        @include input-area;
                        resize: none; //prevents resizing comment box
                        height: 6rem;
                        padding: 0.75rem;

                        @include tablet {
                            width: 100%;
                            overflow-y: hidden;
                        }
                    }
                }

                &__button {
                    @include button;

                    @include tablet {
                        margin-top: 1.63rem;
                        margin-right: 0;
                        width: 10.375rem; //Customized width to match Mock documtent
                    }

                    &--icon {
                        @include icon-in-button;
                    }
                }
            }


        }
    }
}